{% extends "base.html" %}
{% block title %}{{ article.title }} | {{ SITENAME }}{% endblock title %}

{% block head %}
  {{ super() }}
  {% if article.description %}
    <meta name="description" content="{{ article.description }}" />
  {% endif %}

  {% for tag in article.tags %}
    <meta name="tags" content="{{tag}}" />
  {% endfor %}
{% endblock %}

{% block body_class %}
<body class = "{{article.category|lower|truncate(3,True, '')}}">
{% endblock body_class %}

{% block content %}
<section id="content" class="article">
  <header>
    <a href="{{ SITEURL }}/{{ article.category.url }}" class="category">{{ article.category }}</a>
    <h1 class="entry-title">
     {{ article.title }}</h1>
    <div class="translations">
     {% import 'translations.html' as translations with context %}
     {{ translations.translations_for(article) }}
    </div>
  </header>

  <div class="post-info gray">
    <time class="published" datetime="{{ article.date.isoformat() }}">
      Published {{ article.locale_date }} | 
    </time>
  {% if article.modified %}
     <time class="modified" datetime="{{ article.modified.isoformat() }}">
      Modfied {{ article.locale_modified }}
    </time>
  {% endif %}
    {% if article.authors %}
    <address>
      by {% for author in article.authors %}
          <a class="url fn" href="{{ SITEURL }}/{{ author.url }}">{{ author }}</a>
      {% endfor %}

      {% if article.editor %}
      (edited by {{ article.editor}})
      {% endif %}

      {% if article.translator %}
      | translated by
          {{ article.translator }}
      {% endif %}
    </address>
    {% endif %}
  </div><!-- /.post-info -->
  
  <div class="entry-content">
    {{ article.content }}
  </div><!-- /.entry-content -->

  
  {% if article.photo_gallery %}
  <div class="gallery">
    {% for title, gallery in article.photo_gallery %}
    <h1>{{ title }}</h1>

    {% for name, photo, thumb, exif, caption in gallery %}
      <!-- START thumbnail -->
      <a href="#{{photo|md5hash}}" title="{{ name }}" exif="{{ exif }}" caption="{{ caption }}">
	<img src="{{ SITEURL }}/{{ thumb }}" class="gallery_thumb">
      </a>
      <!-- END thumbnail -->
      <!-- START lightbox -->
      <a href="#" class="lightbox" id="{{photo|md5hash}}">
	<span style="background-image:url('{{ SITEURL }}/{{ photo }}')"></span>
      </a>
      <!-- END lightbox -->      
    {% endfor %}

    {% endfor %}
    <!-- END gallery -->
    
  </div>
  {% endif %}

  <div id="send-comment">
    <a href="mailto:blog@k4p5.de?subject=Comments on {{ article.title }}" class="button" title="Comment">Send a letter to the editor <svg viewBox="0 0 80 80" class="icon"><title>email</title><path d="M4.95,13.14v55H74.33v-55Zm54.34,8.12L39.64,39.74,20,21.26ZM13.07,60V25.91l26.56,25,26.57-25V60Z"></path></svg></a>
  </div>

  
</section>
{% if article.related_posts %}
<section id="related">
<h3 class="related">Related Articles</h3>
    <div class="post-info gray">
      {% include 'taglist.html' %}
    </div>
    <ul class="cols">
    {% for related_post in article.related_posts %}
        <li class="{{related_post.category|lower|truncate(3,True, '')}}">
        <article>
          <a href="{{ SITEURL }}/{{ related_post.url }}" rel="bookmark" title="Permalink to {{ related_post.title|striptags }}">
          {% if related_post.featured_image %}
          <!-- <div class="featured-img" style="background-image: url('{{ SITEURL }}{{ related_post.featured_image }}')">
	       </div> -->
	  <img src="{{ SITEURL }}{{ related_post.featured_image }}" class="image-process-featured" />
	  
          {% endif %}
          <h2 class="entry-title">{{ related_post.title }}</h2></a>
          <a href="{{ SITEURL }}/{{ related_post.category.url }}" class="category">{{ related_post.category }}</a>
          {% if related_post.summary %}
            <p class="index-summary">{{ related_post.summary }}</p>
          {% endif %}
          <time class="published" datetime="{{ related_post.date.isoformat() }}">{{ related_post.date|strftime('%B %Y')}}</time>
        </article>
      </li>
    {% endfor %}
    </ul>
{% endif %}
</section>
<ul id="post-nav">
 {% if article.next_article %}
      <li class="newer">
          <p class="gray">&larr; newer article</p>
          <a href="{{ SITEURL }}/{{ article.next_article.url}}">
              {{ article.next_article.title }}
          </a>
      </li>
 {% endif %}
 {% if article.prev_article %}
      <li class="older">
        <p class="gray">older article &rarr;</p>
        <a href="{{ SITEURL }}/{{ article.prev_article.url}}">
            {{ article.prev_article.title }}
        </a>
      </li>
 {% endif %}
</ul>
{% endblock %}
