{% extends "index.html" %}
{% block title %}{{ category }} | {{ SITENAME }}{% endblock title %}
{% block body_class %}
<body class = "category-page {{category|lower|truncate(3,True, '')}}">
{% endblock body_class %}

{% block content %}
<section id="content">
  <h1>{{ category }}</h1>

  <ul class="cols">
    {% for article in articles %}
    <li class = "{{article.category|lower|truncate(3,True, '')}}">
      <article>
        {% if article.featured_image %}
        <a href="{{ SITEURL }}/{{ article.url }}" rel="bookmark" title="Permalink to {{ article.title|striptags }}">
          <div class="featured-img" style="background-image: url('{{ SITEURL }}{{ article.featured_image }}')">
          </div>
          {% endif %}
          <h2 class="entry-title">{{ article.title }}</h2>
	</a>
        {% if article.summary %}
        <p class="index-summary">{{ article.summary }}</p>
        {% endif %}
        <time class="published" datetime="{{ article.date.isoformat() }}">{{ article.date|strftime('%B %Y')}}</time>
      </article>
    </li>
    {% endfor %}
  </ul>
</section><!-- /#content -->

{% endblock content %}
