{% extends "base.html" %}
{% block title %}{{ page.title }} | {{ SITENAME }}{% endblock title %}
{% block content %}
<section id="content" class="page">
  <header>
    <h1>{{ page.title }}</h1>
  </header>
  <div class="entry-content">
    {{ page.content }}
  </div>

  {% if page.modified %}
  <p>
    Last updated: {{ page.locale_modified }}
  </p>
  {% endif %}
</section>
{% endblock %}
